* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
header {
    height: 10vh;
    width: 100vw;
    background-color: azure;
}
footer {
    height: 10vh;
    width: 100vw;
    background-color: azure;
}
#corpo {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4, 1fr);
    border: solid black 1px;
}

.header{
    border: solid black 1px;
    margin-right: 8px;
    grid-column: 1/6;
    grid-row: 1/4;

}
.tabela {
    border: solid black 1px;
    grid-row: 1/4;
    grid-column: 7/10;
}
.noticia1{
    grid-row: 4/5;
    grid-column: 1/5;
    border: solid black 1px;
    margin-right: 10px;
    margin-top: 8px;

}
.noticia2{
    grid-row: 4/5;
    grid-column: 5/10;
    border: solid black 1px;
    margin-left: 10px;
    margin-top: 8px;

}

