*{
    margin: 0;
    padding: border-box;
    box-sizing: border-box;
    font-family: "Inter";
}

.cabecalho{
    background-color: #034078;
    display: flex;
    align-items: center;
    border-bottom: solid #0A1128 2px;
}

.logo{
    height: 70px;
    margin:10px
}

header h1{
    color: #FEFCFB;
    font-size: 30px;
}

.menu{
    height:40px;
    position: absolute;
    right: 0px;
    margin: 10px;
}

.menu-selecao{
    background-color: #001F54;
    font-size: 15px;
    font-weight: 400;
    color: #FEFCFB;
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid #0A1128 2px;
}

section div{
    border-right: solid #034078  2px;
    border-left: solid #034078 2px;
    padding: 10px;
}

footer{
    background-color: #0A1128;
    color: #FEFCFB;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: solid #1282A2 2px;
}

.primeira-parte-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.primeira-parte-footer img{
    height: 50px;
}

.primeira-parte-footer h1{
    font-size: 20px;
}

.descricao-footer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.integrantes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}